@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap');

@font-face {
    font-family: 'panton';
    src: url('../fontovi/panton-black.ttf');
}

@font-face {
    font-family: 'poppins-black';
    src: url('../fontovi/poppins-black.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../fontovi/poppins-regular.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('../fontovi/roboto.ttf');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {   
    background-color: #f04b4b;
    padding: 0px 20px;

}
.container {
    user-select: none;
    padding: 0px 0px;
    height: 50vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.parent {
    height: 400px;
    width: 300px;
    padding: 20px;
    perspective: 1000px;
}

.card {
   text-align: center;
    padding-top: 60px;
    transform-style: preserve-3d;

    background-position: center center;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    
    &:hover {
        background-position: 80% 20%;
        transform: rotate3d(0.5, 1, 0, 30deg);
    }
}

.content-box {
    height:100%;
    width: 100%;    
    background-color: #f04b4b;
    border-radius: 0px 0px 10px 10px;
  border: 5px solid #f04b4b;
    transition: all .5s ease-in-out;
    padding: 30px;
    transform-style: preserve-3d;
    

    .card-title {
        font-family: 'poppins-black';
        color: white;
        text-align: center;
        padding-top: 15px;
        font-size: 15px;
        font-weight: 900;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
        &:hover {
            transform: translate3d(0px, 0px, 50px);
        }
    }

    .card-content {
        text-align: center;
        font-family: Nunito, sans-serif;
        padding-top: 5px;
        font-size: 12px;
        color: rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
        
        &:hover {
            transform: translate3d(0px, 0px, 50px);
        }
    }

    #buttons-list {
        padding-top: 15px;
        background-color: #ff5d5d;
        border: 2px solid   #ff5d5d;
        padding-bottom: 15px;
        border-radius: 20px;
    }

    .see-more {
     
      cursor:pointer;
      background: none;
      border: none;
        font-size: 23px;
        color: rgb(255, 255, 255);
        border-radius: 22px;
        padding: 5px 15px;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
        
        &:hover {
            transform: translate3d(0px, 0px, 50px);
        }
    }
}

.date-box {
    position: absolute;
    top: 30px;
    left: 100px;
    height: 55px;
    width: 55px;
    background-color: #ff5d5d;
    border-radius: 10px;
    padding: 10px;
    transform: translate3d(0px, 0px, 50px);
  
    span {
        display: block;
        text-align: center;
    }

    .month {
        color: white;
        margin: 4px;
        font-size: 25px;
    }
}
